/* Variables para colores */
:root {
    --color-principal: #00ffcc;
    --color-secundario: #00ffaa;
    --color-fondo: #1e1e1e;
    --color-texto: #e0e0e0;
    --color-header: #0f3d3e;
    --color-boton: #00ffcc;
    --color-boton-hover: #00cc99;
    --color-gris: #2a2a2a;
    --color-descripcion: #aaaaaa;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-fondo);
  }
  
  .fondo {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  
  .contenedor {
    max-width: 2600px;
    width: 100%;
    margin: auto;
    background-color: var(--color-fondo);
    border: 1px solid #444;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  }
  
  .header {
    background-color: var(--color-header);
    text-align: center;
    padding: 20px;
  }
  
  .titulo {
    color: var(--color-principal);
    font-size: 30px; 
    font-weight: bold;
  }
  
  .barra-institucional {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    height: 100px;
  }
  
  .info-ipn {
    font-size: 13px;
    color: var(--color-texto);
    text-align: center;
   
    
  }
  
  .carrera {
    color: var(--color-principal);
    font-weight: bold;
  }
  
  .info-grupo {
    text-align: center;
    background-color: var(--color-gris);
    padding: 10px;
    color: var(--color-principal);
    font-weight: 600;
  }
  
  .grupo {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secundario);
    margin-bottom: 8px;
  }
  
  .tematicas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Más flexible */
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #2f4f4f;
    color: #ffffff;
    padding: 10px;
  }
  
  .bienvenida {
    background-color: var(--color-fondo);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-texto);
  }
  
  .descripcion {
    font-size: 0.875rem;
    color: var(--color-descripcion);
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .boton {
    background-color: var(--color-boton);
    color: #000;
    font-size: 1rem; 
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: var(--color-boton-hover);
  }
  
  .equipo {
    text-align: right;
    padding: 10px;
    color: var(--color-principal);
    font-weight: 600;
  }
  

a{

  color: #ffffff;
}

  
  